.row{
    margin-left: 20px;
    padding-top: 20px;
}
.row_poster{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.row_poster::-webkit-scrollbar{
    display: none;
}


.img_row_poster{
    cursor: pointer;
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}
.img_row_poster:hover{
    transform: scale(1.08);
    opacity: 1;
}
.img_row_poster_large{
    max-height: 250px;
    cursor: pointer;
    transition: transform 450ms;
}
.img_row_poster_large:hover{
    transform: scale(1.09);
}