.loginScreen{
  position: relative;
  height: 100vh;
}
.login_screen_logo {
  position: fixed;
  left: 0;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
}
.login_screen_btn {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: #e50914;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}
.loginscreen_gradient{
    width: 100%;
    z-index: 1;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    background-image: linear-gradient(
        to top,
        rgba(0,0,0,0.8) 0,
        rgba(0,0,0,0) 60%,
        rgba(0,0,0,0.8) 100%,
    );
}
.login_screen_body{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    color: #fff;
    padding: 20px;
    margin: 0 auto;
}
.login_screen_body h1{
    font-size: 3rem;
    margin-bottom: 20px;
}
.login_screen_body h2{
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.login_screen_body h3{
    font-size: 1rem;
    font-weight: 400;
}
.login_screen_input{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_screen_input input{
    padding: 13px;
    outline: none;
    height: 30px;
    width: 400px;
    border: none;
    max-width: 600px;
}
.login_screen_start{
    padding: 6px 20px;
    border-radius: 3px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    border: none;
    margin-left: 5px;
    cursor: pointer;
}